.organizaciones {
    padding: 20px;
    min-height: 100vh; /* Para cubrir toda la pantalla */
  }
  
  .organizaciones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .organizaciones-header h1 {
    font-size: 2rem;
    color: #343a40; /* Texto oscuro */
  }
  
  .organizaciones-header .btn-primary {
    border-color: #007bff;
    background-color: #332887;

    font-size: 1rem;
    width: max-content;
  }
  
  .organizaciones-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    min-height: 70vh;
  }
  
  .organizaciones-table {
    margin-top: 20px;
  }
  
  .organizaciones-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .organizaciones-table th, 
  .organizaciones-table td {
    padding: 15px;
    text-align: left;
  }
  
  .organizaciones-table th {
    color: #000000;
    font-weight: bold;
  }
  
  .organizaciones-table td {
    background-color: #f8f9fa;
  }
  
  .organizaciones-table .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    margin-right: 10px;
  }
  
  .organizaciones-table .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .organizaciones-table .btn {
  
    font-size: 0.875rem;
  }
